<div class="well">
  <form #form="ngForm" (ngSubmit)="check(form)">
  <label>Project</label>
  <input type="text" name="project" [(ngModel)]="pro" #project="ngModel" placeholder="Enter Project Name" >
  <button type="submit" class="btn btn-primary">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search
  </button>
  
</form>

<div *ngIf="form.submitted">
  <ul class="list-group">
  <!--<li class="list-group-item list-group-item-info">No of matching results:{{b.total_count}}</li>-->
  <li *ngFor="let item of b.items " class="list-group-item list-group-item-info"><a href="{{item.url}}">{{item.name}}</a></li>
  </ul>
</div>   
