<div class="well">
  <form #form="ngForm" (ngSubmit)="check(form)">
  <label>Project</label>
  <input type="text" name="project" [(ngModel)]="pro" #project="ngModel" placeholder="Enter Project Name" >
  <button type="submit" class="btn btn-primary">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search
  </button>
  
</form>



<div *ngIf="form.submitted">
  <ul class="list-group">
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Projects Found
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li *ngFor="let item of b.items "><a href="{{item.url}}">{{item.name}}</a></li>
  </ul>
  </div>
  </ul>
</div>   
